:root {
  /*https://coolors.co/ffadad-ffd6a5-fdffb6-caffbf-9bf6ff-a0c4ff-bdb2ff-ffc6ff-fffffc*/
  --light-pink: #ffadad;
  --deep-champagne: #ffd6a5;
  --lemon-yellow: #fdffb6;
  --tea-green: #caffbf;
  --tea-green-bg: rgba(202, 255, 191, 0.25);
  --nile-blue: #9bf6ff;
  --baby-blue: #a0c4ff;
  --blue-purple: #bdb2ff;
  --pink-rose: #ffc6ff;
  --baby-powder: #fffffc;

  --form-label: #4a5568;
}

html {
  background-color: var(--tea-green-bg);
  font-family: arial;
  background-image: url("/public/img/kuma.png");
  background-repeat: repeat;
  background-size: 180px;
}
